/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

:root {
  --fallback-title-bar-height: 25px;
}

iframe {
  display: none;
}

* {
  box-sizing: border-box;
}

#titleBarContainer {
  position: absolute;
  top: env(titlebar-area-y, 0);
  height: var(--fallback-title-bar-height);
  width: 100%;
  -webkit-app-region: drag;
  z-index: 100;
}

#root {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* Highlight */

::selection {
  background: #6060ff;
  /* WebKit/Blink Browsers */
}
