/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

 :root {
    --fallback-title-bar-height: 25px;
}

iframe
{
    display: none;
}

#titleBarContainer {
    position: absolute;
    top: env(titlebar-area-y, 0);
    height: env(titlebar-area-height, var(--fallback-title-bar-height));
    width: 100%;
    -webkit-app-region: drag;
}

#root {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 100vh;
}

body {
    position: relative;
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
}


/* Highlight */

::selection {
    background: #6060FF;
    /* WebKit/Blink Browsers */
}


/* Scrollbar */


/* width */

::-webkit-scrollbar {
    width: 10px;
    padding: 5px;
}


/* Track */

::-webkit-scrollbar-track {
    background: transparent;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #35353a;
    border-radius: 5px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #6b6b77;
}