@page {
  size: 5in 8in;
  margin: .5in;
  margin-top: .75in;
  /* marks: crop; */

  @footnote {
    margin: 0.6em 0 0 0;
    padding: 0.3em 0 0 0;
    max-height: 10em;
  }

  @top-center {
    vertical-align: bottom;
    padding-bottom: .25in;
    content: string(booktitle);
  }
}

@page :left {
  margin-right: .75in;

  @top-left {
    vertical-align: bottom;
    padding-bottom: 10mm;
    content: string(page-number, first-except);
    letter-spacing: 0.1em;
    margin-left: -1em;
    font-size: 0.9em;
 }

 @bottom-left-corner {
   content: counter(page);
 }
}

@page :right {
  margin-left: .75in;

  @top-right {
    vertical-align: bottom;
    padding-bottom: 10mm;
    content: string(page-number, first-except);
    letter-spacing: 0.08em;
    margin-right: -1em;
    font-size: 0.9em;
 }

 @bottom-right-corner {
   content: counter(page);
 }

 @top-center{
   content: string(booktitle);
  }
}

@page cover {
  @top-center{
    content: none;
   }
}

.Chapter-rw {
  page: chapter;
}

@page chapter:first {
  @bottom-right-corner {
    content: "";
  }
  @bottom-left-corner {
    content: "";
  }
}

section:nth-child(1) h1 {
  string-set: booktitle content(text);
}

section {
  break-before: right;
  break-after: always;
}
